@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Hakkımızda Düzenleme Paneli</p>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.FeatureID)
                        @Html.Label("Başlık")
                        @Html.TextBoxFor(m => m.Header, new { @class = "form-control" })
                        <br />
                        @Html.Label("Ad Soyad")
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        <br />
                        @Html.Label("Görev")
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        <br />
                        <button class="btn btn-success">Güncelle</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
}

