@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Yeni Proje Ekleme Paneli </p>
                <form class="forms-sample">
                    @Html.Label("Proje Başlığı")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                    <br />
                    @Html.Label("ImageUrl")
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ImageUrl)
                    <br />
                    @Html.Label("ImageUrl2")
                    @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ImageUrl2)
                    <br />
                    @Html.Label("ProjeUrl")
                    @Html.TextAreaFor(x => x.ProjectUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProjectUrl)
                    <br />
                    @Html.Label("Fiyat")
                    @Html.TextAreaFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price)
                    <br />
                    @Html.Label("Tamamlanma Oranı")
                    @Html.TextAreaFor(x => x.Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Value)
                    <br />
                    <button class="btn btn-primary">kaydet</button>
                </form>
            </div>
        </div>
    </div>
}




