@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Hakkımızda Düzenleme Paneli</p>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.AboutID)
                        @Html.Label("Ad Soyad")
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        <br />
                        @Html.Label("Açıklama")
                        @Html.TextAreaFor(m => m.Description,6,3, new { @class = "form-control" })
                        <br />
                        @Html.Label("Yaş")
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        <br />
                        @Html.Label("Mail")
                        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                        <br />
                        @Html.Label("Phone")
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        <br />
                        @Html.Label("Adres")
                        @Html.TextBoxFor(m => m.Addres, new { @class = "form-control" })
                        <br />
                        @Html.Label("Görsel")
                        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
                        <br />
                        <button class="btn btn-success">Güncelle</button>
                </div>
                        </form>
            </div>
        </div>
    </div>
    
}

